<p>comp1 works!</p>
<p [class.highlight]="isHiglighted" (click)="toggleIsHiglighted()">{{text}}</p>
<app-comp2 [message]="greet('Alice')"></app-comp2>
<app-comp2 [message]="greet('Emile')"></app-comp2>
<app-comp2 [message]="greet('Momo')"></app-comp2>
<app-comp2 [message]="greet('Tchoupi')"></app-comp2>
<app-comp2 [message]="greet('Terminator')"></app-comp2>
<app-comp2 [message]="greet('Mario')"></app-comp2>

<input [(ngModel)]="inputText" />

<p>{{inputText}}</p>

<p>fin comp1</p>
<app-ng-model></app-ng-model>